.app {
  margin: 0px;
  background-color: grey;
  color: white;
  display: flex;
  flex-direction: column;
}

.app_head {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: -30px;
  margin-left: 50px;
}

.app_head > h6 {
  margin-left: 20px;
}
